Repository detrohutt/babel-plugin-import-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./update-lock-files

2.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, ./update-lock-files

Update original (now renamed) repo for new package name
  LICENSE
  README.md
  package.json
Due: prettier --write, ./update-lock-files

2.4.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, ./update-lock-files

Fix heading in README.md
  README.md
Due: none

Trivial cleanup (mostly tests)
  plugin/requireGql.js
  tests/fixtures/imports/fragment/mixed.js
  tests/fixtures/imports/fragment/multiple.js
  tests/fragments.test.js
  tests/imports.test.js
  tests/requireGql.test.js
  tests/schema.test.js
  tests/whitespace.test.js
Due: eslint --fix, prettier --write

Enable compact mode on AST node, reducing output size by 30%+
  plugin/index.js
Due: eslint --fix, prettier --write

Remove premature optimization
  plugin/index.js
Due: eslint --fix, prettier --write

Update jest and related packages
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write, ./update-lock-files

Add new 'runtime' option (if enabled, 'graphql-tag' is a peerDependency)
  package.json
  plugin/errorMessages.js
  plugin/index.js
  plugin/multiOp.js
  plugin/requireGql.js
  tests/__snapshots__/runtime.test.js.snap
  tests/fixtures/runtime/separate/default.js
  tests/fragments.test.js
  tests/imports.test.js
  tests/runtime.test.js
  tests/schema.test.js
  tests/util.js
  tests/whitespace.test.js
Due: eslint --fix, prettier --write, ./update-lock-files

Update all devDependencies
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write, ./update-lock-files

2.5.0
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: prettier --write, ./update-lock-files

Update index.js
  plugin/index.js
Due: eslint --fix, prettier --write

Fix compatibility with Babel 6
  plugin/index.js
  tests/__snapshots__/runtime.test.js.snap
  tests/fragments.test.js
  tests/imports.test.js
  tests/runtime.test.js
  tests/schema.test.js
  tests/whitespace.test.js
  yarn.lock
Due: eslint --fix, prettier --write

2.5.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, ./update-lock-files

Continue fixing compatibility with Babel 6
  plugin/index.js
Due: eslint --fix, prettier --write

2.5.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, ./update-lock-files

Decouple #import logic from non-schema file logic
  plugin/constants.js
  plugin/customImport.js
  plugin/requireGql.js
Due: eslint --fix, prettier --write

Remove dedent dependency by switching to snapshot testing
  package.json
  tests/__snapshots__/requireGql.test.js.snap
  tests/__snapshots__/schema.test.js.snap
  tests/requireGql.test.js
  tests/schema.test.js
  tests/util.js
Due: eslint --fix, prettier --write, ./update-lock-files

Refactor test files and fixtures
  tests/__snapshots__/imports.test.js.snap
  tests/__snapshots__/schema.test.js.snap
  tests/fixtures/fragments/simple/fragment.graphql
  tests/fixtures/fragments/simple/partial.graphql
  tests/fixtures/fragments/simple/simple.js
  tests/fixtures/imports/fragment/multiDefault.js
  tests/fixtures/imports/fragment/multiple.js
  tests/fixtures/imports/fragment/simple.js
  tests/fixtures/imports/fragments/customImport.js
  tests/fixtures/imports/fragments/mixed.js
  tests/fixtures/imports/fragments/multiDefault.js
  tests/fixtures/imports/fragments/multiple.js
  tests/fixtures/imports/fragments/simple.js
  tests/fixtures/imports/schema/default.js
  tests/fixtures/requireGql/fragment/nested/deep/fragment.graphql
  tests/fixtures/requireGql/whitespace/spaces.graphql
  tests/fixtures/requireGql/whitespace/tabs.graphql
  tests/fixtures/shared/fragments/fragment.graphql
  tests/fixtures/shared/fragments/fragments.graphql
  tests/fixtures/shared/fragments/nested/deep/fragment.graphql
  tests/fixtures/shared/fragments/nested/partial.graphql
  tests/fixtures/whitespace/spaces.js
  tests/fixtures/whitespace/tabs.js
  tests/fragments.test.js
  tests/imports.test.js
  tests/requireGql.test.js
  tests/schema.test.js
  tests/whitespace.test.js
Due: eslint --fix, prettier --write

Add support for #import in schema files
  plugin/customImport.js
  plugin/requireGql.js
  tests/__snapshots__/requireGql.test.js.snap
  tests/fixtures/requireGql/customImport/chainedImportsSchema.graphql
  tests/fixtures/requireGql/customImport/levelOne.graphql
  tests/fixtures/requireGql/customImport/levelTwo.graphql
Due: eslint --fix, prettier --write

Remove redundant test and add test for chained imports in non-schema file
  tests/__snapshots__/requireGql.test.js.snap
  tests/fixtures/requireGql/fragments/chained/levelOne.graphql
  tests/fixtures/requireGql/fragments/chained/levelTwo.graphql
  tests/fixtures/requireGql/fragments/chained/partial.graphql
  tests/fixtures/requireGql/fragments/nested/deep/fragment.graphql
  tests/fixtures/requireGql/fragments/nested/partial.graphql
  tests/imports.test.js
  tests/requireGql.test.js
Due: eslint --fix, prettier --write

2.6.0
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: prettier --write, ./update-lock-files

Add support for multiple #import in the same file in schema files
  plugin/customImport.js
  tests/__snapshots__/requireGql.test.js.snap
  tests/fixtures/requireGql/customImport/levelOne.graphql
  tests/fixtures/requireGql/customImport/levelTwoBis.graphql
Due: eslint --fix, prettier --write

Add support for multiple #import in the same file in schema files (#41)
  plugin/customImport.js
  tests/__snapshots__/requireGql.test.js.snap
  tests/fixtures/requireGql/customImport/levelOne.graphql
  tests/fixtures/requireGql/customImport/levelTwoBis.graphql
Due: eslint --fix, prettier --write

2.6.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, ./update-lock-files

Add support for multiple #import in the same file in schema files
  plugin/requireGql.js
  tests/__snapshots__/requireGql.test.js.snap
  tests/fixtures/requireGql/customImport/chainedImportsSchema.graphql
  tests/fixtures/requireGql/customImport/levelOneBis.graphql
Due: eslint --fix, prettier --write

Continue fixing bug with multiple imports in a schema file (#42)
  plugin/requireGql.js
  tests/__snapshots__/requireGql.test.js.snap
  tests/fixtures/requireGql/customImport/chainedImportsSchema.graphql
  tests/fixtures/requireGql/customImport/levelOneBis.graphql
Due: eslint --fix, prettier --write

2.6.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, ./update-lock-files

Fix npm badge link in README.md
  README.md
Due: none

Fix npm badge link in README.md (#46)
  README.md
Due: none

Added option to import custom file types
  plugin/index.js
  tests/fixtures/imports/named/extension.js
  tests/fixtures/shared/extension.graph
  tests/imports.test.js
Due: eslint --fix, prettier --write

Add section to README documenting defaults and describing usage
  README.md
Due: none

Added option to import custom file types (#53)
  README.md
  plugin/index.js
  tests/fixtures/imports/named/extension.js
  tests/fixtures/shared/extension.graph
  tests/imports.test.js
Due: eslint --fix, prettier --write

2.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, ./update-lock-files

Use regex to support `import * from "..."` syntax
  plugin/constants.js
  plugin/customImport.js
  plugin/requireGql.js
  tests/__snapshots__/requireGql.test.js.snap
Due: eslint --fix, prettier --write

Fix linting errors
  plugin/customImport.js
Due: eslint --fix, prettier --write

Add `emitDeclarations` option
  plugin/index.js
  plugin/requireGql.js
  tests/vscode-intellisense-test.ts
Due: eslint --fix, prettier --write

Document `emitDeclarations`
  README.md
Due: none

Since node 12.3.0 require.resolve requires options.paths to a list
  plugin/index.js
Due: eslint --fix, prettier --write

Update the README to explain resetting cache with React Native.
  README.md
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: ((any of: *.js) or (any of: package.json)) or (any of: *.json)
  ./update-lock-files: any of: package.json
