Repository detrohutt/babel-plugin-import-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Upgrade to babel 7
  .babelrc
  package.json
  yarn.lock
Due: prettier --write

Update all deps and replace babylon.parse with babel.transformSync
  package.json
  plugin/index.js
  yarn.lock
Due: eslint --fix, prettier --write

Add jest
  package.json
  yarn.lock
Due: prettier --write

Add initial tests and new import capabilities
  .eslintrc.json
  package.json
  plugin/index.js
  tests/.eslintrc.json
  tests/fixtures/multiple/aliases.js
  tests/fixtures/multiple/default.js
  tests/fixtures/multiple/multiple.graphql
  tests/fixtures/multiple/named.js
  tests/fixtures/multiple/namespace.js
  tests/fixtures/multiple/reverse.js
  tests/fixtures/simple/alias.js
  tests/fixtures/simple/default.js
  tests/fixtures/simple/named.js
  tests/fixtures/simple/simple.graphql
  tests/imports.test.js
  tests/util.js
  yarn.lock
Due: eslint --fix, prettier --write

Add/reorganize tests and allow more import types
  plugin/index.js
  plugin/multi-op.js
  tests/fixtures/imports/multiple/aliases.js
  tests/fixtures/imports/multiple/default.js
  tests/fixtures/imports/multiple/defaultAndNamed.js
  tests/fixtures/imports/multiple/defaultAndNamespace.js
  tests/fixtures/imports/multiple/multiple.graphql
  tests/fixtures/imports/multiple/named.js
  tests/fixtures/imports/multiple/namespace.js
  tests/fixtures/imports/multiple/oneAlias.js
  tests/fixtures/imports/multiple/reverse.js
  tests/fixtures/imports/named/alias.js
  tests/fixtures/imports/named/default.js
  tests/fixtures/imports/named/named.graphql
  tests/fixtures/imports/named/named.js
  tests/fixtures/imports/unnamed/alias.js
  tests/fixtures/imports/unnamed/default.js
  tests/fixtures/imports/unnamed/named.js
  tests/fixtures/imports/unnamed/unnamed.graphql
  tests/fixtures/simple/alias.js
  tests/fixtures/simple/default.js
  tests/fixtures/simple/named.js
  tests/fixtures/simple/simple.graphql
  tests/imports.test.js
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

2.2.0
  package.json
Due: prettier --write

Fix typos in examples
  README.md
Due: none

Add more badges to README.md
  README.md
Due: none

Add support for raw passthrough of schema-like files
  package.json
  plugin/index.js
  tests/fixtures/schema/simple/default.js
  tests/fixtures/schema/simple/schema.graphql
  tests/schema.test.js
  tests/util.js
Due: eslint --fix, prettier --write

Update CHANGELOG.md and README.md
  CHANGELOG.md
  README.md
Due: none

2.3.0
  package.json
Due: prettier --write

Update all dependencies/devDependencies
  package.json
  yarn.lock
Due: prettier --write

2.3.1
  package.json
Due: prettier --write

Fix ops with fragments inlining raw and add fragment test
  CHANGELOG.md
  plugin/index.js
  tests/fixtures/fragments/simple/fragment.graphql
  tests/fixtures/fragments/simple/partial.graphql
  tests/fixtures/fragments/simple/simple.js
  tests/fragments.test.js
  tests/schema.test.js
Due: eslint --fix, prettier --write

2.3.2
  package.json
Due: prettier --write

Fix fragments inlining raw and add regression test
  CHANGELOG.md
  plugin/index.js
  tests/fixtures/imports/fragment/fragment.graphql
  tests/fixtures/imports/fragment/simple.js
  tests/imports.test.js
Due: eslint --fix, prettier --write

2.3.3
  package.json
Due: prettier --write

Pin babel packages to exact versions and generate package-lock.json
  CHANGELOG.md
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

2.3.4
  package.json
Due: prettier --write

Bring code into compliance with @babel/core@7.0.0-beta.42 and upgrade that dependency, improve tests code
  CHANGELOG.md
  package-lock.json
  package.json
  plugin/index.js
  tests/fragments.test.js
  tests/imports.test.js
  tests/schema.test.js
  tests/util.js
  yarn.lock
Due: eslint --fix, prettier --write

2.3.5
  package.json
Due: prettier --write

Handle leading whitespace in imported files
  .prettierignore
  CHANGELOG.md
  plugin/index.js
  tests/fixtures/whitespace/spaces.graphql
  tests/fixtures/whitespace/spaces.js
  tests/fixtures/whitespace/tabs.graphql
  tests/fixtures/whitespace/tabs.js
  tests/whitespace.test.js
Due: eslint --fix, prettier --write

2.3.6
  package.json
Due: prettier --write

Extract and expose requireGql function (synchronous)
  plugin/index.js
  plugin/requireGql.js
Due: eslint --fix, prettier --write

Reorganize test files and add tests for requireGql
  tests/fixtures/imports/fragment/simple.js
  tests/fixtures/imports/multiple/aliases.js
  tests/fixtures/imports/multiple/default.js
  tests/fixtures/imports/multiple/defaultAndNamed.js
  tests/fixtures/imports/multiple/defaultAndNamespace.js
  tests/fixtures/imports/multiple/named.js
  tests/fixtures/imports/multiple/namespace.js
  tests/fixtures/imports/multiple/oneAlias.js
  tests/fixtures/imports/multiple/reverse.js
  tests/fixtures/imports/named/alias.js
  tests/fixtures/imports/named/default.js
  tests/fixtures/imports/named/named.js
  tests/fixtures/imports/unnamed/alias.js
  tests/fixtures/imports/unnamed/default.js
  tests/fixtures/imports/unnamed/named.js
  tests/fixtures/requireGql/fragment/nested/deep/fragment.graphql
  tests/fixtures/requireGql/fragment/nested/partial.graphql
  tests/fixtures/schema/simple/default.js
  tests/fixtures/shared/fragment.graphql
  tests/fixtures/shared/multiple.graphql
  tests/fixtures/shared/named.graphql
  tests/fixtures/shared/schema.graphql
  tests/fixtures/shared/unnamed.graphql
  tests/requireGql.test.js
Due: eslint --fix, prettier --write

Update dependencies
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

2.3.7
  CHANGELOG.md
  package.json
Due: prettier --write

Make changes suggested in #30 and remove undocumented requireGql export
  package.json
  plugin/index.js
  tests/requireGql.test.js
Due: eslint --fix, prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

Automate updating lock files; update prepublish -> prepare
  .lintstagedrc.json
  package-lock.json
  package.json
  update-lock-files
Due: prettier --write

Update deps
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

2.3.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Add support for files containing multiple fragments and no operations
  plugin/multi-op.js
  plugin/requireGql.js
  tests/fixtures/imports/fragment/multiDefault.js
  tests/fixtures/imports/fragment/multiple.js
  tests/fixtures/shared/fragments.graphql
  tests/fixtures/shared/multiple.graphql
  tests/imports.test.js
Due: eslint --fix, prettier --write

Add test to verify fragments are now importable from mixed documents
  tests/fixtures/fragments/mixed/mixed.js
  tests/fragments.test.js
Due: eslint --fix, prettier --write

2.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

add in variableDeclarator to handle require statements
  package-lock.json
  plugin/index.js
Due: eslint --fix, prettier --write

Deprecate this package in favor of babel-plugin-import-graphql
  README.md
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.json)
