Repository detrohutt/babel-plugin-import-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./update-lock-files

.lintstagedrc.json:

{
  "linters": {
    "*.js": ["eslint --fix", "prettier --write", "git add"],
    "package.json": ["./update-lock-files", "prettier --write", "git add"],
    "*.json": ["prettier --write", "git add"]
  }
}

Fix node 12 require.resolve
  plugin/index.js
Due: eslint --fix, prettier --write

2.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, ./update-lock-files

2.8.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, ./update-lock-files

Add files via upload
  yarn.lock
Due: none

Update README.md
  README.md
Due: none

Create eslint.yml
  .github/workflows/eslint.yml
Due: none

Create dependency-review.yml
  .github/workflows/dependency-review.yml
Due: none

Create snyk-security.yml
  .github/workflows/snyk-security.yml
Due: none

Create dependabot actions for security
  .github/dependabot.yml
Due: none

Implement CodeQL workflow schedule and actions
  .github/workflows/codeql.yml
Due: none

Potential fix for code scanning alert no. 1: Inefficient regular expression
  plugin/constants.js
Due: eslint --fix, prettier --write

Correction in regex patterns constants
  plugin/constants.js
Due: eslint --fix, prettier --write
